.logo {
  height: 50px;
  width: 50px;
  margin:auto;
}

.icon{
  font-size: 20px;
  color: grey;
}

.icon_nav{
  font-size: 20px;
  color: grey;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}
.button_prof{
 border-radius: 50%;
 border-color: transparent;
 background-color: transparent;
 height: 50px;
 width: 50px;
}
body{
  background-color:black;
  color:white;
}

.search-container {
  display: flex;
  height: 50px;
  align-items: center;
  max-width: 400px;
  border-radius: 25px;
  overflow: hidden; 
  background-color: #2f2f2f;
  border: 1px solid black;
  
}

.search_bar {
  color: white;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  flex: 1; 
  height: 50px;
  width: 500px;
  padding: 10px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search_icon {
  font-size: 20px;
  color: grey;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.vertical-line {
  border-left: 1px solid grey;
  height: 30px;
}

.home_but{
   background-color: #2f2f2f;
   border-radius: 50%;
   margin-right: 4px;
}
.card_0 {
  margin-top: 85px;
  position: fixed;
  width: 100%;
  gap: 10px; 
}
.card_1 {
  border-radius: 20px;
  padding: 10px;
  background-color: #2f2f2f;
  height: calc(100vh - 200px);
  overflow-y: auto; /* Allows scrolling */
  scrollbar-width: thin;
  scrollbar-color: grey transparent; 
}

.card_1::-webkit-scrollbar {
  width: 6px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Hide up and down arrows */
.card_1::-webkit-scrollbar-button {
  display: none;
}

/* Scrollbar thumb (hidden by default) */
.card_1::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

/* Show scrollbar when scrolling */
.card_1:hover::-webkit-scrollbar,
.card_1:active::-webkit-scrollbar {
  opacity: 1;
}

.card_1:hover::-webkit-scrollbar-thumb,
.card_1:active::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}


.footer {
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.footer div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.play_button {
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.play_button:hover {
  transform: scale(1.1);
}

.skip {
  font-size: 28px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.skip:hover {
  color: grey;
}

.navbar {
  position: fixed;
  top: 0;
}