.logo {
  height: 50px;
  width: 50px;
  margin:auto;
}

.icon{
  font-size: 20px;
  color: grey;
}

.icon_nav{
  font-size: 20px;
  color: grey;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}
.button_prof{
 border-radius: 50%;
 border-color: transparent;
 background-color: transparent;
 height: 50px;
 width: 50px;
}
body{
  background-color:black;
  color:white;
}

.search-container {
  display: flex;
  height: 50px;
  align-items: center;
  max-width: 400px;
  border-radius: 25px;
  overflow: hidden; /* Prevents any spacing issues */
  background-color: #2f2f2f;
  border: 1px solid black;
  
}

.search_bar {
  color: white;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  flex: 1; 
  height: 50px;
  width: 500px;
  padding: 10px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search_icon {
  font-size: 20px;
  color: grey;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.vertical-line {
  border-left: 1px solid grey;
  height: 30px;
}

.home_but{
   background-color: #2f2f2f;
   border-radius: 50%;
   margin-right: 4px;
}
.card_1 {
  border-radius: 20px;
  margin-right: 10px;
  padding: 10px;
  height: 82vh;
  justify-content: space-between;
  background-color: #2f2f2f;
}

.footer {
  background-color: black;
  margin-top: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.play_button {
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border-color: transparent;
  margin-top: 4px;
}
.skip{
  border-color: transparent;
  margin-left: 10px;
  font-size: 24px;
  margin: 10px;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
}
.play_button:hover{
  background-color:#2f2f2f;
  color: white;
}

.play_button:active {
  background-color: #2f2f2f;
  background-color: white;
  color:black;
}

