
.logo {
  height: 50px;
  width: 50px;
  margin:auto;
}

.icon{
  font-size: 28px;
  color: grey;
}

.icon_nav{
  font-size: 25px;
  color: grey;
  text-align: center;
  margin: 16px;
}
.button_prof{
 border-radius: 50%;
 border-color: transparent;
 background-color: transparent;
 height: 50px;
 width: 50px;
}
body{
  background-color: #2f2f2f;
  color:white;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  overflow: hidden; /* Prevents any spacing issues */
  background-color: #2f2f2f;
  border: 1px solid black;
  margin-left:600px;
}

.search_bar {
  color: white;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  flex: 1; 
  height: 50px;
  width: 500px;
  padding: 10px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search_icon {
  font-size: 20px;
  color: grey;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.vertical-line {
  border-left: 1px solid grey;
  height: 30px;
}