
  body{
    background-color:black;
    color:white;
  }
  .card_0 {
    margin-top: 85px;
    position: fixed;
    width: 100%;
    gap: 10px; 
  }
  .card_1 {
    border-radius: 20px;
    padding: 10px;
    background-color:#121212;
    height: calc(100vh - 200px);
    overflow-y: auto; /* Allows scrolling */
    scrollbar-width: thin;
    scrollbar-color: white transparent; 
  }
  
  .card_1::-webkit-scrollbar {
    width: 6px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Hide up and down arrows */
  .card_1::-webkit-scrollbar-button {
    display: none;
  }
  
  /* Scrollbar thumb (hidden by default) */
  .card_1::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Show scrollbar when scrolling */
  .card_1:hover::-webkit-scrollbar,
  .card_1:active::-webkit-scrollbar {
    opacity: 1;
  }
  
  .card_1:hover::-webkit-scrollbar-thumb,
  .card_1:active::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .selection{
    margin-left: 7px;
  }
  .selection_btn {
     background-color: white;
     color: black;
     font-size: 12px;
     text-align: center;
     margin: 3px;
     margin-top: 10px;
     border-radius: 30px;
     padding: 10px;
     padding-left: 15px;
     padding-right: 15px;
     width: auto;
     border: none;
     transition: background-color 0.3s, color 0.3s;
  }

  .selection_btn:hover {
     background-color: black;
     color: white;
  }
  
  .selection_btn:active {
     transform: scale(0.90);
  }

  .album_fav_card {
    display: flex;
    align-items: center;
    background-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 70px;
    width:16vw;
    margin: 10px;
    margin-top: 18px;
}

.fav_albums {
    height: 70px;
    width: 50px;
    border-radius: 5px;
}

.album_fav_text {
    flex-grow: 1;
    font-size: 18px;
    color: white;
    margin-left: 13px;
}
.album_play {
    font-size: 15px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    background-color: white;
}

.album_play:hover {
    transform: scale(1.1);
}

.made_for_you_albums{
  height:130px;
  width:130px;
}

.made_for_you_card{
    display: flex;
    align-items: center;
    background-color: black;
    width:145px;
    height:145px;
}
